@font-face {
  font-family: "calvous";
  src: url("../assets/fonts/Calvous Spurs Stamp.otf");
}

@font-face {
  font-family: "ubuntu-reg";
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "ubuntu-med";
  src: url("./assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "ubuntu-light";
  src: url("./assets/fonts/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "ubuntu-bold";
  src: url("./assets/fonts/Ubuntu-Bold.ttf");
}

body .container {
  width: 100%;
  max-width: 1550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 1183px) {
  body .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px 30px;
  }
}

body .header {
  width: 100%;
  position: fixed;
<<<<<<< HEAD
}

body .header .header-color {
  background-color: rgba(35, 39, 43, 0.7);
}

@media screen and (max-width: 1183px) {
  body .header .header-color {
    background-color: #23272b;
  }
}

@media screen and (max-width: 359px) {
  body .header .header-color .logo__wrapper {
    -webkit-box-flex: 70%;
        -ms-flex: 70%;
            flex: 70%;
  }
}

@media screen and (min-width: 360px) and (max-width: 1183px) {
  body .header .header-color .logo__wrapper {
    -webkit-box-flex: 80%;
        -ms-flex: 80%;
            flex: 80%;
  }
}

=======
}

body .header .header-color {
  background-color: rgba(35, 39, 43, 0.7);
}

@media screen and (max-width: 1183px) {
  body .header .header-color {
    background-color: #23272b;
  }
}

@media screen and (max-width: 359px) {
  body .header .header-color .logo__wrapper {
    -webkit-box-flex: 70%;
        -ms-flex: 70%;
            flex: 70%;
  }
}

@media screen and (min-width: 360px) and (max-width: 1183px) {
  body .header .header-color .logo__wrapper {
    -webkit-box-flex: 80%;
        -ms-flex: 80%;
            flex: 80%;
  }
}

>>>>>>> 4c9260f2ea86212dacdc3a2a24734295f4e347bb
body .header .header-color .logo__wrapper .link__logo {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 210px;
}

body .header .header-color .logo__wrapper .link__logo .header__logo__ctn {
  padding-right: 5px;
}

body .header .header-color .logo__wrapper .link__logo .header__logo__ctn .header__logo {
  height: 56px;
}

body .header .header-color .logo__wrapper .link__logo .header__title {
  color: #ffffff;
  font-family: "calvous";
}

body .header .header-color .nav-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
<<<<<<< HEAD
}

@media screen and (max-width: 1183px) {
  body .header .header-color .nav-primary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100vh;
  }
}

=======
}

@media screen and (max-width: 1183px) {
  body .header .header-color .nav-primary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100vh;
  }
}

>>>>>>> 4c9260f2ea86212dacdc3a2a24734295f4e347bb
body .header .header-color .nav-primary .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 2px;
}

@media screen and (max-width: 1183px) {
  body .header .header-color .nav-primary .main-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1183px) {
  body .header .header-color .nav-primary .main-menu .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 0;
  }
}

body .header .header-color .nav-primary .main-menu .menu-item::after {
  content: url("./assets/svg/bckg-links.png");
<<<<<<< HEAD
}

@media screen and (max-width: 1183px) {
  body .header .header-color .nav-primary .main-menu .menu-item::after {
    content: none;
  }
}

@media screen and (max-width: 1183px) {
  body .header .header-color .nav-primary .main-menu .menu-item .presentation {
    padding: 18px 25px;
  }
}

=======
}

@media screen and (max-width: 1183px) {
  body .header .header-color .nav-primary .main-menu .menu-item::after {
    content: none;
  }
}

@media screen and (max-width: 1183px) {
  body .header .header-color .nav-primary .main-menu .menu-item .presentation {
    padding: 18px 25px;
  }
}

>>>>>>> 4c9260f2ea86212dacdc3a2a24734295f4e347bb
body .header .header-color .nav-primary .main-menu .menu-item .menu-item-link {
  padding: 5px 25px;
  color: #ffffff;
  font-family: "ubuntu-light";
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent;
}

body .header .header-color .nav-primary .main-menu .menu-item .menu-item-link:hover {
  border-color: #ceae60;
  color: #ceae60;
}

@media screen and (max-width: 1183px) {
  body .header .header-color .nav-primary .main-menu .menu-item .menu-item-link {
    font-size: 22px;
    padding: 15px 5px;
  }
}

body .header .header-color .nav-primary .main-menu .galerie::after {
  content: none;
}

@media screen and (max-width: 1183px) {
  body .header .header-color .nav-primary .social__wrapper__ctn .social__wrapper .social__item {
    padding: 10px 0;
  }
}

body .header .header-color .nav-primary .social__wrapper__ctn .social__wrapper .social__item .social__link {
  text-decoration: none;
  color: #ceae60;
  font-family: "ubuntu-light";
}

body .header .header-color .nav-primary .social__wrapper__ctn .social__wrapper .social__item .social__link span {
  display: none;
}

@media screen and (max-width: 1183px) {
  body .header .header-color .nav-primary .social__wrapper__ctn .social__wrapper .social__item .social__link span {
    display: inline;
    padding-right: 10px;
  }
}

body .header .header-color .nav-primary .social__wrapper__ctn .social__wrapper .social__item .social__link i {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #ceae60;
  color: #ceae60;
  font-size: 12px;
  padding: 6px 7px;
}

body .header .header-color .nav-primary .social__wrapper__ctn .social__wrapper .social__item .social__link i:hover {
  color: #ffffff;
  border-color: #ffffff;
}

@media screen and (max-width: 1183px) {
  body .header .header-color .nav-primary--hide {
    display: none;
  }
}

body .header .navbar__hamburger {
  margin: 10px;
  cursor: pointer;
}

body .header .navbar__hamburger .navbar__hamburger__line {
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 10px;
  background-color: #fff;
}

@media screen and (min-width: 1183px) {
  body .header .navbar__hamburger {
    display: none;
  }
}

body .header-pages {
  background-image: url("./assets/images/background-fonce.jpg");
  position: relative;
}

body .banner {
  background-color: rgba(35, 39, 43, 0.8);
  background-image: url("./assets/images/team.png");
  background-size: cover;
  background-position: center;
  padding: 320px 0 250px 0;
}

body .banner .banner__title__ctn .banner__logo__ctn .banner__logo {
  width: 178px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body .banner .banner__title__ctn .banner__title {
  font-family: "calvous";
  font-size: 70px;
  color: #ffffff;
  text-align: center;
  padding-top: 40px;
}

@media screen and (max-width: 430px) {
  body .banner .banner__title__ctn .banner__title {
    font-size: 50px;
  }
}

@media screen and (min-width: 431px) and (max-width: 1183px) {
  body .banner .banner__title__ctn .banner__title {
    font-size: 70px;
  }
}

body .banner .banner__title__ctn .banner__sub__title__ctn {
  margin: 0 auto;
  max-width: 380px;
}

body .banner .banner__title__ctn .banner__sub__title__ctn .banner__sub__title {
  background-color: rgba(40, 49, 51, 0.6);
  padding: 8px;
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "ubuntu-reg";
}

body .banner .banner__title__ctn .banner__sub__title__ctn .banner__sub__title span {
  color: #ceae60;
}

@media screen and (max-width: 1183px) {
  body .banner .banner__title__ctn .banner__sub__title__ctn .banner__sub__title {
    font-size: 15px;
  }
}

<<<<<<< HEAD
body .footer {
  background-color: #23272b;
  width: 100%;
  padding: 75px 0 75px 0;
}

body .footer .footer__title__ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .footer .footer__title__ctn .footer__logo__ctn .footer__logo__item {
  width: 75px;
}

body .footer .footer__title__ctn .footer__title__item__ctn {
  padding: 30px 0 30px 10px;
}

body .footer .footer__title__ctn .footer__title__item__ctn .footer__title__item {
  color: #ffffff;
  font-family: "calvous";
  font-size: 20px;
}

body .footer .footer__links {
  text-align: center;
  padding-top: 25px;
  font-family: "ubuntu-light";
  font-size: 20px;
}

body .footer .footer__links .footer__links__link {
  text-decoration: none;
  color: #aeaeae;
}

body .footer .footer__links .footer__links__link span {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

body .footer .footer__links .fb_link {
  color: #ceae60;
  text-decoration: none;
}

.container--small {
  max-width: 500px;
  margin-right: auto;
}

@media screen and (max-width: 1183px) {
  .container--small {
    max-width: none;
    margin: 0 auto;
    padding: 3em 1em;
  }
}

.container--very-small {
  max-width: 440px;
  margin-left: auto;
}

@media screen and (max-width: 1469px) {
  .container--very-small {
    max-width: none;
    margin: 0 auto;
    padding: 3em 1em;
  }
}

.content__ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./assets/images/background-fonce.jpg");
  background-size: cover;
}

.content__ctn--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.content__ctn--reverse .container--very-small {
  margin-left: auto;
}

@media screen and (max-width: 1183px) {
  .content__ctn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content__ctn .img__ctn {
=======
body .img__ctn--image-airsoft {
  position: absolute;
}

@media screen and (max-width: 1469px) {
  body .img__ctn--image-airsoft {
    position: static;
    width: 100%;
  }
}

body .img__ctn--image-terrain {
  position: absolute;
}

@media screen and (max-width: 1469px) {
  body .img__ctn--image-terrain {
    position: static;
    width: 100%;
  }
}

body .small-container--airsoft {
  max-width: 440px;
  margin-left: auto;
}

@media screen and (max-width: 1469px) {
  body .small-container--airsoft {
    max-width: none;
    margin: 0 auto;
    padding: 3em;
  }
}

body .container--very-small {
  max-width: 440px;
}

@media screen and (max-width: 1469px) {
  body .container--very-small {
    max-width: none;
  }
}

body .img__ctn--half {
  position: relative;
  overflow: hidden;
  min-height: 770px;
  width: 62%;
}

@media screen and (max-width: 1469px) {
  body .img__ctn--half {
    width: 100%;
    min-height: auto;
  }
}

body .img__ctn {
>>>>>>> 4c9260f2ea86212dacdc3a2a24734295f4e347bb
  width: 53%;
  position: relative;
  overflow: hidden;
  min-height: 800px;
<<<<<<< HEAD
}

@media screen and (max-width: 1183px) {
  .content__ctn .img__ctn {
    position: static;
    width: 100%;
    min-height: auto;
  }
}

.content__ctn .img__ctn .img__ctn--image {
  position: absolute;
  right: -8em;
}

@media screen and (max-width: 1183px) {
  .content__ctn .img__ctn .img__ctn--image {
    position: static;
    width: 100%;
  }
}

@media screen and (min-width: 1600px) {
  .content__ctn .img__ctn .img__ctn--image {
    right: -10em;
  }
}

.img__ctn--half-terrain-airsoft {
  width: 60%;
  overflow: hidden;
  position: relative;
  min-height: 770px;
}

@media screen and (max-width: 1469px) {
  .img__ctn--half-terrain-airsoft {
    position: static;
    min-height: auto;
    width: 100%;
  }
}

.img__ctn--half-terrain-airsoft .img__ctn--image-terrain-airsoft {
  position: absolute;
  left: -1em;
}

@media screen and (max-width: 1469px) {
  .img__ctn--half-terrain-airsoft .img__ctn--image-terrain-airsoft {
    position: static;
    width: 100%;
  }
}

.text__ctn {
  width: 47%;
}

@media screen and (max-width: 1183px) {
  .text__ctn {
    width: 100%;
  }
}

.text__ctn--half {
  width: 38%;
}

@media screen and (max-width: 1469px) {
  .text__ctn--half {
    width: 100%;
  }
}

.title__ctn {
=======
}

@media screen and (max-width: 1183px) {
  body .img__ctn {
    position: static;
    width: 100%;
    min-height: auto;
  }
}

body .img__ctn .img__ctn--image {
  position: absolute;
  right: -8em;
}

@media screen and (max-width: 1183px) {
  body .img__ctn .img__ctn--image {
    position: static;
    width: 100%;
  }
}

@media screen and (min-width: 1600px) {
  body .img__ctn .img__ctn--image {
    right: -10em;
  }
}

body .small-container {
  max-width: 500px;
  margin-right: auto;
}

@media screen and (max-width: 1183px) {
  body .small-container {
    max-width: none;
    margin: 0 auto;
    padding: 3em;
  }
}

body .text__ctn {
  width: 47%;
}

@media screen and (max-width: 1183px) {
  body .text__ctn {
    width: 100%;
  }
}

body .text__ctn--half {
  width: 38%;
}

@media screen and (max-width: 1469px) {
  body .text__ctn--half {
    width: 100%;
  }
}

body .text__ctn--half-terrain {
  width: 24%;
  margin-bottom: 12em;
}

@media screen and (max-width: 1469px) {
  body .text__ctn--half-terrain {
    width: 100%;
    margin: 0 auto;
    padding: 3em;
  }
}

body .title__ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
}

body .title__ctn .title__item__img {
  width: 36px;
}

body .title__ctn .title__main__item {
  color: #ffffff;
  font-family: "calvous";
  font-size: 35px;
  padding-right: 25px;
  padding-left: 25px;
}

body .paragraph__ctn {
  color: #d2d2d2;
  font-family: "ubuntu-light";
}

body .paragraph__ctn .paragraph__item {
  padding: 12px;
  font-size: 18px;
  line-height: 27px;
}

body .paragraph__ctn .paragraph__item span {
  color: #ceae60;
}

body .paragraph__ctn .paragraph__item span .social__link {
  text-decoration: none;
  font-family: "ubuntu-light";
  color: #ceae60;
}

body .content__ctn--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 1469px) {
  body .content__ctn--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

body .footer {
  background-color: #23272b;
  width: 100%;
  padding: 75px 0 75px 0;
}

body .footer .footer__title__ctn {
>>>>>>> 4c9260f2ea86212dacdc3a2a24734295f4e347bb
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
}

<<<<<<< HEAD
.title__ctn .title__item__img {
  width: 36px;
}

.title__ctn .title__main__item {
  color: #ffffff;
  font-family: "calvous";
  font-size: 35px;
  padding-right: 25px;
  padding-left: 25px;
}

.paragraph__ctn {
  color: #d2d2d2;
  font-family: "ubuntu-light";
}

.paragraph__ctn .paragraph__item {
  padding: 12px;
  font-size: 18px;
  line-height: 27px;
}

.paragraph__ctn .paragraph__item span {
  color: #ceae60;
}

.paragraph__ctn .paragraph__item span .social__link {
  text-decoration: none;
  font-family: "ubuntu-light";
=======
body .footer .footer__title__ctn .footer__logo__ctn .footer__logo__item {
  width: 75px;
}

body .footer .footer__title__ctn .footer__title__item__ctn {
  padding: 30px 0 30px 10px;
}

body .footer .footer__title__ctn .footer__title__item__ctn .footer__title__item {
  color: #ffffff;
  font-family: "calvous";
  font-size: 20px;
}

body .footer .footer__links {
  text-align: center;
  padding-top: 25px;
  font-family: "ubuntu-light";
  font-size: 20px;
}

body .footer .footer__links .footer__links__link {
  text-decoration: none;
  color: #aeaeae;
}

body .footer .footer__links .footer__links__link span {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

body .footer .footer__links .fb_link {
>>>>>>> 4c9260f2ea86212dacdc3a2a24734295f4e347bb
  color: #ceae60;
  text-decoration: none;
}

.container--small {
  max-width: 500px;
  margin-right: auto;
}

.container--very-small {
  max-width: 440px;
}

.content__ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./assets/images/background-fonce.jpg");
  background-size: cover;
}

.content__ctn--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.content__ctn--reverse .container--very-small {
  margin-left: auto;
}

@media screen and (max-width: 1183px) {
  .content__ctn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* home blocks */
.img__ctn--half {
  width: 53%;
  position: relative;
  overflow: hidden;
  min-height: 800px;
}

.terrain .airsoft .img__ctn--half {
  width: 62%;
  min-height: 770px;
}

@media screen and (max-width: 1469px) {
  .terrain .airsoft .img__ctn--half {
    position: static;
    min-height: auto;
    width: 100%;
  }
}

.airsoft .img__ctn--half {
  width: 62%;
  overflow: hidden;
  position: relative;
  min-height: 770px;
}

@media screen and (max-width: 1469px) {
  .airsoft .img__ctn--half {
    min-height: auto;
  }
}

.text__ctn--half {
  width: 47%;
}

.img__ctn--image {
  position: absolute;
  right: -8em;
}

/* terrain blocks */
.content__ctn-bloc--3070:last-child {
  width: 30%;
}

.content__ctn-bloc--3070 {
  width: 62%;
}

.content__ctn-bloc--3070 .img__ctn--image {
  right: -6em;
}

.content__ctn--parent--reverse .content__ctn-bloc--3070 .img__ctn--image {
  left: -6em;
}
/*# sourceMappingURL=style.css.map */