@import "./styles/fonts.scss";
@import "./styles/variables.scss";

body {
  .container {
    width: 100%;
    max-width: 1550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
    @media screen and (max-width: 1183px) {
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 15px 30px;
    }
  }

  .header {
    width: 100%;
    position: fixed;
    .header-color {
      background-color: rgba($color: #23272b, $alpha: 0.7);
      @media screen and (max-width: 1183px) {
        background-color: #23272b;
      }
      .logo__wrapper {
        @media screen and (max-width: 359px) {
          flex: 70%;
        }
        @media screen and (min-width: 360px) and (max-width: 1183px) {
          flex: 80%;
        }
        .link__logo {
          text-decoration: none;
          display: flex;
          align-items: center;
          max-width: 210px;
          .header__logo__ctn {
            padding-right: 5px;
            .header__logo {
              height: 56px;
            }
          }

          .header__title {
            color: #ffffff;
            font-family: "calvous";
          }
        }
      }
      .nav-primary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 1183px) {
          flex-direction: column;
          justify-content: flex-start;
          height: 100vh;
        }

        .main-menu {
          display: flex;
          justify-content: space-between;
          letter-spacing: 2px;

          @media screen and (max-width: 1183px) {
            flex-direction: column;
          }
          .menu-item {
            @media screen and (max-width: 1183px) {
              display: flex;
              padding: 8px 0;
            }
            &::after {
              content: url("./assets/svg/bckg-links.png");
              @media screen and (max-width: 1183px) {
                content: none;
              }
            }
            .presentation {
              @media screen and (max-width: 1183px) {
                padding: 18px 25px;
              }
            }
            .menu-item-link {
              padding: 5px 25px;
              color: #ffffff;
              font-family: "ubuntu-light";
              font-size: 15px;
              text-transform: uppercase;
              text-decoration: none;
              border: 1px solid transparent;
              &:hover {
                border-color: #ceae60;
                color: #ceae60;
              }
              @media screen and (max-width: 1183px) {
                font-size: 22px;
                padding: 15px 5px;
              }
            }
          }
          .galerie {
            &::after {
              content: none;
            }
          }
        }
        .social__wrapper__ctn {
          .social__wrapper {
            .social__item {
              @media screen and (max-width: 1183px) {
                padding: 10px 0;
              }
              .social__link {
                text-decoration: none;
                color: #ceae60;
                font-family: "ubuntu-light";
                span {
                  display: none;
                  @media screen and (max-width: 1183px) {
                    display: inline;
                    padding-right: 10px;
                  }
                }
                i {
                  height: 25px;
                  width: 25px;
                  border-radius: 50%;
                  border: 1px solid #ceae60;
                  color: #ceae60;
                  font-size: 12px;
                  padding: 6px 7px;
                  &:hover {
                    color: #ffffff;
                    border-color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
      .nav-primary--hide {
        @media screen and (max-width: 1183px) {
          display: none;
        }
      }
    }
    .navbar__hamburger {
      margin: 10px;
      cursor: pointer;
      .navbar__hamburger__line {
        display: block;
        width: 40px;
        height: 3px;
        margin-bottom: 10px;
        background-color: #fff;
      }
      @media screen and (min-width: 1183px) {
        display: none;
      }
    }
  }
  .header-pages {
    background-image: url("./assets/images/background-fonce.jpg");
    position: relative;
  }

  .banner {
    background-color: rgba($color: #23272b, $alpha: 0.8);
    background-image: url("./assets/images/team.png");
    background-size: cover;
    background-position: center;
    padding: 320px 0 250px 0;
    .banner__title__ctn {
      .banner__logo__ctn {
        .banner__logo {
          width: 178px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .banner__title {
        font-family: "calvous";
        font-size: 70px;
        color: #ffffff;
        text-align: center;
        padding-top: 40px;
        @media screen and (max-width: 430px) {
          font-size: 50px;
        }
        @media screen and (min-width: 431px) and (max-width: 1183px) {
          font-size: 70px;
        }
      }
      .banner__sub__title__ctn {
        margin: 0 auto;
        max-width: 380px;

        .banner__sub__title {
          background-color: rgba($color: #283133, $alpha: 0.6);
          padding: 8px;
          margin-top: 10px;
          text-align: center;
          color: #ffffff;
          font-size: 16px;
          font-family: "ubuntu-reg";
          span {
            color: #ceae60;
          }
          @media screen and (max-width: 1183px) {
            font-size: 15px;
          }
        }
      }
    }
  }


  .footer {
    background-color: #23272b;
    width: 100%;
    padding: 75px 0 75px 0;
    .footer__title__ctn {
      display: flex;
      justify-content: center;
      .footer__logo__ctn {
        .footer__logo__item {
          width: 75px;
        }
      }
      .footer__title__item__ctn {
        padding: 30px 0 30px 10px;
        .footer__title__item {
          color: #ffffff;
          font-family: "calvous";
          font-size: 20px;
        }
      }
    }

    .footer__links {
      text-align: center;
      padding-top: 25px;
      font-family: "ubuntu-light";
      font-size: 20px;
      .footer__links__link {
        text-decoration: none;
        color: #aeaeae;
        span {
          padding: 0.5rem 0.5rem 0 0.5rem;
        }
      }
      .fb_link {
        color: #ceae60;
        text-decoration: none;
      }
    }
  }
}
@import './gradient-blocks.scss'
