@font-face{
    font-family: 'calvous';
    src: url('./assets/fonts/Calvous\ DEMO.otf');
}

@font-face{
    font-family: 'ubuntu-reg';
    src: url('./assets/fonts/Ubuntu-Regular.ttf');
}
@font-face{
    font-family: 'ubuntu-med';
    src: url('./assets/fonts/Ubuntu-Medium.ttf');
}
@font-face{
    font-family: 'ubuntu-light';
    src: url('./assets/fonts/Ubuntu-Light.ttf');
}
@font-face{
    font-family: 'ubuntu-bold';
    src: url('./assets/fonts/Ubuntu-Bold.ttf');
}

body {
    width: 100%;
    box-sizing: border-box;
    .navbar {
        width: 100%;
        height: 100vh;
        background-image: url(./assets/images/team.png);
        background-size: cover;
        // background-repeat: no-repeat;
        background-position: center;
        background-attachment: initial;
        @media screen and (min-width:350px) and (max-width:700px){
            background-position: 25%;
        }
        @media screen and (min-width:701px) and (max-width:1024px){
            background-position: 50% 25%;
            
         }

        .top_navbar {
            background-color: rgba($color: #283133, $alpha: 0.6);
            width: 100%;
            display: flex;

        }
        .top_title {
            display: flex;
 
            img {
                width: 3rem;
                margin: 0.8rem 1rem 1rem 10rem;
                @media screen and (min-width:350px) and (max-width:700px){
                    margin:0.8rem 1rem 1rem 3rem
                 }
            }
            h2 {
                font-size: 15px;
                text-transform: uppercase;
                color: #ffffff;
                margin: 2rem 1rem 0 0;
                font-family: 'calvous';
            }
        }
        .links_header {
            display: flex;
            margin: 2rem 2rem 0 15rem;

            a {
                font-family: 'ubuntu-light';
                text-transform: uppercase;
                text-decoration: none;
                color: #ffffff;
                font-size: 12px;
                margin: 1.5rem;
                // z-index: 3;
            }
            img {
                margin-top: -0.5rem;
                border: 1px solid #ceae60;
                width: 1.8em;
                padding: 0.68rem;
                border-radius: 50%;
            }
        }
        .main_title {
            display: grid;
            justify-content: center;
            align-content: center;
            .centered_logo {
                width: 9rem;
                margin: 10rem 35rem 0.5rem 35rem;
                @media screen and (min-width:350px) and (max-width:700px){
                    width: 7rem;
                 }
            }
            h1 {
                text-transform: uppercase;
                font-size: 20px;
                color: #ffffff;
                margin: 1rem 35rem;
                font-family: 'calvous';
                @media screen and (min-width:350px) and (max-width:700px){
                    font-size: 16px;
                 }
            }
            h5 {
                color: #ffffff;
                font-size: 16px;
                font-family: 'ubuntu-light';
                text-align: center;
                margin: 1rem 30rem 5rem;
                padding: 0.5rem;
                border-radius: 5px;
                background-color: rgba($color: #283133, $alpha: 0.7);
                width: 23%;
                //             // border: 1px solid rgba($color: #283133, $alpha: 0.7);

                span {
                    color: #ceae60;
                }
                @media screen and (min-width:350px) and (max-width:700px){
                    font-size: 13px;
                 }
            }
        }
    }

    .airsoft {
        width: 100%;
        height: 100vh;
        background-image: url(./assets/images/airsoft2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media screen and (min-width:350px) and (max-width:1024px){
            background-image: none;
         }
        .airsoft_pic {
            display: none;
            @media screen and (min-width:350px) and (max-width:1024px){
                display: flex;
                flex-direction: row;
                width: 100%;
                height: auto;
             }
         
           
        }
        .metal{
            display: none;
            @media screen and (min-width:350px) and (max-width:1024px){
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 75%;
             }
     
        }
        .airsoft_right {
            .airsoft_title {
                display: flex;
                justify-content: flex-end;
                padding: 4rem 13rem 2rem;
                @media screen and (min-width:350px) and (max-width:1024px){
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin: -50rem;
                 }
               
                 
                h3 {
                    font-size: 30px;
                    color: #ffffff;
                    text-transform: uppercase;
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                    font-family: 'calvous';
                    @media screen and (min-width:350px) and (max-width:1024px){
                        font-size: 20px;
                     }
                  
                }
            }
          .par{
            display: grid;
            justify-content: center;
            align-content:center;
            @media screen and (min-width:350px) and (max-width:1024px){
                width: 200%;
                display: flex;
                flex-direction: column;
                font-size: 12px;
                margin-top: 50rem;
                margin-left: 8rem;
             }
         

                p {
                    font-family: 'ubuntu-light';
                    margin:1.5rem 25rem 0.2rem 55rem;
                    color: #ffffff;
                    width: 30%;
                    @media screen and (min-width:350px) and (max-width:1024px){
                        margin: 0.5rem;
                     }
                  
                    span{
                        color: #ceae60;
                    }
                }
             
          }
            
            
        }
    }

    footer{
        background-color: #283133;
        width: 100%;
        height: auto;
        padding: 3rem;

        .logo_sub_title{
        display: flex;
        justify-content: center;
        align-content:center;
             img{
            width:5rem;
            margin-bottom: 2rem;
        }

        h4{
            color: #ffffff;
            font-size: 15px;
            text-transform: uppercase;
            margin: 2rem 2rem 2rem 0.8rem;
            font-family: 'calvous';
        } 
        }
        .bottom_links{
            display: flex;
            justify-content: center;
             a{
            text-decoration: none;
            color: #ffffff;
            font-family: 'ubuntu-light';
            span{
                padding: 0.5rem;
            }
         
        }
        .fb_links{
            color: #ceae60;
        }
        }
      
       
    }
}
