body {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .navbar {
  width: 100%;
  height: 100vh;
  background-image: url(./assets/images/team.png);
  background-size: cover;
  background-position: center;
  background-attachment: initial;
}

body .navbar .top_navbar {
  background-color: rgba(40, 49, 51, 0.6);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .navbar .top_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .navbar .top_title img {
  width: 3rem;
  margin: 0.8rem 1rem 1rem 10rem;
}

body .navbar .top_title h2 {
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 2rem 1rem 0 0;
}

body .navbar .links_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 2rem 0 15rem;
}

body .navbar .links_header a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  margin: 1.5rem;
}

body .navbar .links_header img {
  margin-top: -0.5rem;
  border: 1px solid #ceae60;
  width: 1.8em;
  padding: 0.68rem;
  border-radius: 50%;
}

body .navbar .main_title {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .navbar .main_title .centered_logo {
  width: 9rem;
  margin: 10rem 35rem 0.5rem 35rem;
}

body .navbar .main_title h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  margin: 1rem 35rem;
}

body .navbar .main_title h5 {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  margin: 1.5rem 30rem 5rem;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgba(40, 49, 51, 0.7);
  width: 23%;
}

body .navbar .main_title h5 span {
  color: #ceae60;
}

body .airsoft {
  width: 100%;
  height: 100vh;
  background-image: url(./assets/images/airsoft2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body .airsoft .airsoft_pic {
  width: 60%;
}

body .airsoft .airsoft_right .airsoft_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 4rem 13rem 2rem;
}

body .airsoft .airsoft_right .airsoft_title h3 {
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

body .airsoft .airsoft_right .par {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .airsoft .airsoft_right .par p {
  margin: 1.5rem 25rem 0.2rem 55rem;
  color: #ffffff;
  width: 30%;
}

body footer {
  background-color: #283133;
  width: 100%;
  height: auto;
  padding: 3rem;
}

body footer .logo_sub_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body footer .logo_sub_title img {
  width: 5rem;
  margin-bottom: 2rem;
}

body footer .logo_sub_title h4 {
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  margin: 2rem 2rem 2rem 0.8rem;
}

body footer .bottom_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .bottom_links a {
  text-decoration: none;
  color: #ffffff;
}

body footer .bottom_links a span {
  padding: 0.5rem;
}

body footer .bottom_links a .fb_links {
  color: #ceae60;
}
/*# sourceMappingURL=style.css.map */